body{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica, sans-serif, "微軟正黑體";
  font-size:16px;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	display: block;
  background-color: #FFFAFA;
}

a:focus, area{outline:none}

a{
  text-decoration: none;
  color: #666;
}

::-moz-selection {
  background-color: #EEE;
  text-shadown: none;
}

::selection {
  background-color: #EEE;
  text-shadown: none;
}

.bg1, .bg2, .bg3{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg1{
    background-color: #FFFAFA;
    min-height: 100vh;
    background-image: url(../img/top.png);
}

.bg2{
    background-color: #fff;
    min-height: 100vh;
    /*background-image: url("/w3images/parallax2.jpg");*/
}

.bg3{
    background-color: #fff;
}

.bg4{
    background-color: #FFFAFA;
}

h1, h2, h3, h4, h5, h6, div{
	color: #666;
  text-align: center;
}

h1{
	margin: 0;
/*  border: solid 3px #fff;*/
}

.white{
  background-color: #fff;
  box-shadow: 0 1rem 5rem -2rem rgba(0, 0, 0, 0.5);
  transition: -webkit-transform 100ms linear;
  transition: transform 100ms linear;
  transition: transform 100ms linear, -webkit-transform 100ms linear;
  padding: 1.5rem 2rem;
}

.ref{
   width: 60%;
   margin: auto;
   line-height: 1.5rem;
   text-align: justify;
   font-weight: bold;
}

.ref a:hover{
  color: #ed9d9d;
}

.middle h1{
  font-size: 2rem;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
}

.middle h2{
  margin: 0;
  position:absolute;
  bottom: 3%;
  left:50%;
  transform:translate(-50%,-3%);
  -ms-transform:translate(-50%,-3%);
}

.down{
  -moz-animation: down 2s infinite;
  -webkit-animation: down 2s infinite;
  animation: down 2s infinite;
}

@keyframes down {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  /*40% {
    transform: translateY(-30px);
  }*/
  60% {
    transform: translateY(-20px);
  }
}

h3{
  line-height: 2rem;
  margin: 0 auto;
}

.big{
  line-height: 2rem;
  width: 70%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.1rem;
}

main{
    position: relative;
}

.sec1{
    display: block;
    position: relative;
    overflow: hidden;
    width: 60%;
    margin: auto;
    padding: 8% 5%;
}

.sec1 p{
  margin-bottom: 5%;
  font-weight: bold;
}

.plus{
  text-align: center;
  color: #AAA;
  margin: 20px 0 30px 0;
}

.sec1 img, .box img{
  width: 100%;
}

.sec2{
	width: 60%;
	margin: auto;
	padding-top: 5%;
	padding-bottom: 5%;
}

span{
  color: #ed9d9d;
}

.box, .see{
  background:#EEE;
  margin:5%;
  padding: 5%;
  overflow: hidden;
}

.box:hover{
  background: #fae6e5;
}

.box p,.see p{
	text-align: center;
  padding-top: 5%;
  margin: 0;
  font-weight: bold;
}

.col-4, .col-5{
  width: 25%;
  float: left;
}

.by{
  width: 100%;
  margin: auto;
  padding:1%;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.8rem;
}

/*margin*/

.mt{margin-top: 5%;}
.mb{margin-bottom: 5%;}

/*pop up*/

.message{
  width: 40%;
}

.message img{
  width: 100%;
}

.message h3{
  width: 100%;
  text-align: left;
  color: #ed9d9d;
}

.message p{
  margin: 0;
  font-weight: bold;
  text-align: justify;
}

/*screen*/

@media (max-width: 767px){
  .middle h1{font-size: 1.4rem;}
  .col-3, .col-2, .col-4, .gro{width: 100%;}
  .box, .see{margin: 0; margin-bottom: 5%;}
  /*h3{width: 90%;}*/
  .big{width: 90%; font-weight: normal;}
  .sec1, .sec2{width: 90%;}
  .by{padding: 5%;}
  .message{width: 95%;}
  .message p, .ref{font-weight: normal;}
  .banner{top: 40px;}
  .plus{margin: 60px 0 30px 0;}
}

@media (min-width: 768px) and (max-width: 1200px){
  .col-4{width: 50%;}
  .gro{width: 98%;}
  /*h3{width: 75%;}*/
  .big{width: 75%;}
  .sec1, .sec2{width: 75%;}
  .message{width: 60%;}
}

/*banner*/

.banner {
  z-index: 1;
  width: 16rem;
  height: 40px;
  line-height: 45px;
  letter-spacing: 1px;
  background: #EEE;
  color: #666;
  left: 50%;
  margin-left: -8rem;
  position: relative;
  font-weight: bold;
  font-size: 1.1rem;
}

.banner:before,
.banner:after {
  z-index: -1;
  content: "";
  display: block;
  top: 5px;
  position: absolute;
  border-top: 20px solid #DDD;
  border-bottom: 20px solid #DDD;
}
.banner:before {
  right: 100%;
  margin-right: 0;
  border-right: 20px solid #DDD;
  border-left: 5px solid transparent;
}
.banner:after {
  left: 100%;
  margin-left: 0;
  border-left: 20px solid #DDD;
  border-right: 5px solid transparent;
}